* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}

#canvas_1 {
    border: 2px solid #0f0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 704px;
    height: 698px;
}